<h1 class="text-center">My details</h1>
<br>
<div>
  <table class="table table-striped mx-auto w-auto">
    <tbody>
      <tr>
        <td>Name: </td>
        <td>{{user?.name}}</td>
      </tr>
      <tr>
        <td>Nickname: </td>
        <td>{{user?.nickName}}</td>
      </tr>
      <tr>
        <td>Email address  </td>
        <td>{{user?.email}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div style="text-align: center;">
  <button type="button" (click)="openUpdateModal(updateUser)" class="btn btn-primary me-1 text-center">Update details</button>
</div>

  <!-- Modify user details modal -->
  <ng-template #updateUser let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body text-center" >

      <table class="mx-auto w-auto table-sm">
        <tbody>
          <tr>
            <td>Name: </td>
            <td><input type="text" value={{user?.name}} #userName></td>
          </tr>
          <tr>
            <td>Nickname: </td>
            <td><input type="text" value={{user?.nickName}} #nickname></td>
          </tr>
          <tr>
            <td>Email: </td>
            <td><input type="text" value={{user?.email}} #email></td>
          </tr>
          <tr>
            <td>Password: </td>
            <td><input type="password" #password></td>
          </tr>
        </tbody>
        </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="updateUpdateModal(nickname.value, userName.value, email.value, password.value)">Save</button>
    </div>
  </ng-template>